[submodule "dcm_qa"]
	path = dcm_qa
	url = https://github.com/neurolabusc/dcm_qa.git
[submodule "dcm_qa_nih"]
	path = dcm_qa_nih
	url = https://github.com/neurolabusc/dcm_qa_nih.git
[submodule "dcm_qa_uih"]
	path = dcm_qa_uih
	url = https://github.com/neurolabusc/dcm_qa_uih.git
