/dcm2laz	export-ignore
/qtGui		export-ignore
/wxWidgets	export-ignore
/xcode		export-ignore
*.command	export-ignore
.gitattributes	export-ignore
unused*		export-ignore
*_binary	export-ignore
/debian		export-ignore
