Source: dcm2niix
Section: science
Priority: optional
Maintainer: NeuroDebian Team <team@neuro.debian.net>
Uploaders: Michael Hanke <mih@debian.org>, Yaroslav Halchenko <debian@onerussian.com>
Build-Depends: debhelper (>= 9~), cmake, zlib1g-dev
Standards-Version: 3.9.6
Homepage: http://www.mccauslandcenter.sc.edu/CRNL/tools/dcm2niix
Vcs-Browser: http://git.debian.org/?p=pkg-exppsy/dcm2niix.git
Vcs-Git: git://git.debian.org/git/pkg-exppsy/dcm2niix.git

Package: dcm2niix
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: converts DICOM and PAR/REC files into the NIfTI format
 This is the successor of the well-known dcm2nii program. it aims to provide
 same functionality albeit with much faster operation.
 This is a new tool that is not yet well tested, and does not handle ancient
 proprietary formats. Use with care.
